:80 {
    bind 0.0.0.0
    gzip
    root /opt/www_freeflownation/
    log stdout
    git {
        repo https://github.com/freeflownation/www_freeflownation.git
        branch master
        hook /webhook "test927"
        hook_type generic
        key /root/.ssh/id_rsa
        path /opt/freeflownation/www_freeflownation/
    }
}
