@font-face {
   font-family: 'Shadows Into Light';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/gosam/Documents/GitHub/www_freeflownation//fonts/Shadows Into Light/regular.ttf') format('truetype');
}
