@font-face {
   font-family: 'Fredericka the Great';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/kristinevilnite/Documents/GitHub/FFN/www_freeflownation/html/fonts/Fredericka the Great/regular.ttf') format('truetype');
}
