@font-face {
   font-family: 'News Cycle';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/kristinevilnite/Documents/GitHub/FFN/www_freeflownation/html/fonts/News Cycle/700.ttf') format('truetype');
}
@font-face {
   font-family: 'News Cycle';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/kristinevilnite/Documents/GitHub/FFN/www_freeflownation/html/fonts/News Cycle/regular.ttf') format('truetype');
}
